
.App {
  text-align: center;
  color: black; 
  background-color: rgb(137, 135, 135);
}

.home-page, .dashboard, .logged-out{
  min-height: 100vh;
}

.home-page-tiles{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-page-tiles-vert{
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.home-page-tiles {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.home-description {
  align-self: center;
  flex: 4 4 360px;
  padding: 8vw;
}
.login-form, .register-form {
  flex: 10 10 360px;
  padding: 8vw;
}

.password-with-show {
  display:flex;
}

.left-nav, .right-nav {
  margin-left: 50px;
  margin-right: 50px;
}

.right-nav{
  flex-basis: auto;
  width: 100%;
  justify-content: flex-end;
}

.center-cont {
  align-self: center !important;
  align-items: center !important;
  justify-content: center !important;
}

.logout-btn {
  border-radius: 10px;
  background-color: purple !important;
  color: white !important;
  margin-left: 10px;
  align-self: center !important;
}

.logout-btn:hover {
  border-radius: 5px;
  background-color: violet !important;
  color: white !important;
}

.logged-out-cont {
  margin: 40vh 10vw 0vh 10vw
}

.dashboard-content {
  display:flex;
  flex-direction: row;
  min-height: 90vh;
}

.dashboard-content-vert{
  display:flex;
  flex-direction: column;
}

.dashboard-links{
  min-width: 13vw;
  max-width: 13vw;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly !important;
}

.dashboard-links-vert{
  display:flex;
  flex-direction: row;
}

.badge {
  white-space:normal !important;
}

.calendar-parent {
  margin: 2vh 2vw;
}

.calendar-month-view{
  table-layout: fixed !important;
  max-height: 83vh;
}

.calendar-month-view-day {
  table-layout: fixed !important;
}

.calendar-month-view-day-header-cell {
  font-size: small;
}

.calendar-month-view-day-cell { 
  font-size: xx-small;
  overflow: hidden !important;
  word-wrap:break-word;
  word-break: break-all;
}

.add-event-month {
  font-size: xx-small !important;
  
}

.view-month-form-header {
  display: flex; 
  justify-content: space-evenly;
}

.view-month-form-header-text {
  text-align:center;
  text-overflow: clip;
}